body {
    margin: 0;
    padding: 0;
    background-color: #ecdbff;
    font-family: "Segoe UI";
    overflow-x: hidden;
}

nav {
    position: fixed;
    width: 100vw;
    background-color: #00316b;
}

ul {
    width: 80vw;
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li:hover {
    background-color: #e91e63;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.nav .fa{
  padding-right: 5px;
}
.toggle {
    width: 100vw;
    padding: 10px 20px;
    background-color: #001f44;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}

img{
  width: 100vw;
  height: 80vh;
  margin-top: 60px;
}
.container{
  width: 60vw;
  margin: 0px auto;
  /* position: relative; */
  text-align: center;

}
.centered {
    position: absolute;
    color: white;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.intro h2,h3{
  color: #22A39F;
}
.lead{
  opacity: 0.3;
}
.left{
  width: 50%;
  text-align: justify;
  float: left;
}
#center{
  text-align: center;
}
.right{
  width: 50%;
  text-align: justify;
  float: right;
}
section#experiences {
      display: inline-block;
      width: 100%;
}
.foot{
  text-align: center;
}

@media screen and (max-width:760px) {
    .toggle {
        display: block;
    }

    ul {
        width: 100%;
        display: none;
    }

    ul li {
        display: block;
        text-align: center;
    }

    .active {
        display: block;
    }
    .centered{
      display: none;
    }
    .left{
      width: 100%;
    }
    .right{
      width: 100%;
    }
}﻿
